@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-border-dk: rgb(72, 71, 71);
  --clr-bkgrnd: rgb(20, 20, 20);
  --clr-correct: rgb(63, 150, 52);
  --clr-incorrect: rgb(66, 65, 65);
  --clr-close: rgb(177, 179, 36);
}

body {
  height: 100vh;
  display: flex;
  background-color: var(--clr-bkgrnd);
  color: white;
  font-size: 2.25em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-rows: 64px auto 204px;
  min-height: 100vh;
}

.header {
  display: flex;
  width: 100vw;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--clr-border-dk);
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

.header-section {
  width: 33%;
}

.header-section .title {
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding: 0 10px
}

.game-container {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
}

.game-over-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 400px;
  /* justify-self: center;
  align-self: center; */
  text-align: center;
}

.game-over-container
.button-container {
  display: flex;
  align-items: end;
  justify-content: end;
  /* background-color: red; */
}

.btn {
  border: none;
  background-color: var(--clr-bkgrnd);
  color: white;
  font-size: .75em;
}

.game-board {
  grid-row: 2 /3;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  height: 100%;
  gap: 6px;
}

.row {
  display: flex;
  gap: 6px;
}

.box {
  display: flex;
  width: 64px;
  height: 64px;
  border: 2px solid var(--clr-border-dk);
  justify-content: center;
  align-items: center;
}

.keyboard-container {
  grid-row: 3 / 4;
  display: flex;
  font-size: .5em;
  font-weight: 400;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  align-self: flex-end;
  margin-bottom: 8px;
}

.keyboard-row {
  display: flex;
  gap: 6px;
}

.keyboard-key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 64px;
  background-color: rgb(158, 158, 158);
  border-radius: 4px;
  cursor: pointer;
}

.enter {
  padding: 0 36px;
}

.del {
  padding: 0 36px;
}


.incorrect {
  background-color: var(--clr-incorrect);
  border-color: var(--clr-incorrect);
 }
 
 .correct {
   background-color: var(--clr-correct);
   border-color: var(--clr-correct);
 }
 
 .close {
   background-color: var(--clr-close);
   border-color: var(--clr-close);
 }