body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(12, 10, 10);
  font-size: 2.25em;
  color: white;
}

.game-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.row {
  display: flex;
  gap: 6px;
}

.box {
  display: flex;
  width: 64px;
  height: 64px;
  border: 1px solid rgb(92, 92, 92);
  justify-content: center;
  align-items: center;
}

.incorrect {
 background-color: rgb(66, 65, 65);
}

.correct {
  background-color: rgb(63, 150, 52);
}

.close {
  background-color: rgb(177, 179, 36);
}